<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    /* 有新旧语法，这是新语法 */
    .flex-ul {
      display: -webkit-flex;
      display: flex;
      width: 100%;
    }

    .flex-ul li {
      -webkit-flex: 1;
      flex: 1;
    }
  </style>
</head>
<body>
<ul class="flex-ul">
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
</ul>
</body>
</html>