<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    .inline-ul {
      font-size: 0;
      *word-spacing: -1px;
      outline: 1px dashed red;

    }

    .inline-ul li {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      font-size: 14px;
      vertical-align: top;
      word-spacing: normal;
      letter-spacing: normal;
      width: 20%;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .inline-ul {
        letter-spacing: -5px;
      }
    }
  </style>
</head>
<body>
<ul class="inline-ul">
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
</ul>
</body>
</html>