.demo {
  width: 100px;
  height: 50px;
  background: #eee;
}

/**
 * 单边效果
 */
.demo1 {
  box-shadow: -2px 0 0 green, //左边阴影
  0 -2px 0 blue, //顶部阴影
  0 2px 0 red, //底部阴影
  2px 0 0 yellow; //右边阴影
}

.demo2 {
  /**
   * 4 个阴影有前面的层叠后面的
   */
  box-shadow: -2px 0 5px green,0 -2px 5px blue,0 2px 5px red,2px 0 5px yellow;
}




