<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>自适应等分比例实践：浮动+百分比</title>
  <style>
    .float-ul {
      width: 100%;
      overflow: hidden;
      zoom: 1;
    }

    .float-ul li {
      float: left;
      width: 20%;  /* 缺点：写死的*/
    }
  </style>
</head>
<body>
<ul class="float-ul">
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
</ul>
</body>
</html>