<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    .table-cell{display: table; width: 100%;}
    .table-cell li{display: table-cell;}

  </style>
</head>
<body>
<ul class="table-cell">
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
  <li>
    <div class="con">
      <h3>等分标题</h3>

      <p>等分内容等分内容</p>
    </div>
  </li>
</ul>
</body>
</html>