<!DOCTYPE HTML>
<html>

  <head>

    <title>JavaScript Clock !</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="scripts.js"></script>

  </head>

  <body onload="clockTimer();">

    <div class="clockpage">

      <span id="clock">12:00:00</span>
      <span id="dayOfWeek">Friday</span>

    </div>

  </body>

</html>
